body{
    background-color: #eff2f4;
}

.navbar{
    background-color: #ffffff;
}

.container{
    padding-top: 30px;
    width: 61%;
}

.row{
    margin-top: 30px;
    margin-bottom: 30px;
}

.table{
    margin: 10px;
}

.col{
    padding: 0px;
}

.mainpage-text{
    padding: 1em;
    color: #ffffff;
    font-size: 1.5em;
    height: max;
}